$fill_clr: #3D4F5C;

.our__work__container{
    margin: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    position: relative;

    .head{
        margin: 0;
        width: 40%;
        height: 25vh;
        text-align: center;
        padding-top: 8%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;


        .our_work_head{
            color: $fill_clr;
            font-size: 3rem;
        }
    }

    .our__works__grid{
        width: 80%;
        max-width: 80%;
        height: 170vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 3%;
        padding: 1%;

        .work{
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1); /* Adjust the values for your desired shadow */
            border-radius: 20px;

            h5{
                font-size: 2.2rem;
                margin-top: 8%;
                margin-bottom: 5%;
            }

            

            .grid__text{
                font-size: 1rem;
                font-weight: normal;
                width: 70%;
                height: 15%;
                max-height: 15%;
                text-align: center;
            }


            .grid_img{
                width: 65%;
                margin-bottom: 5%;
                transition: transform 0.3s ease;
                transform: translateZ(0);
            }

            .grid_img[alt='feedback']{
                height: 42%;
            }

            &.transformed {
                .grid_img {
                    transform: perspective(400px) rotateY(10deg); // Or any other value for the desired depth
                }
            }
            
            .btn__More{
                width: 6rem;
                max-width: 16%;
                height: 7%;
                max-height: 7%;
                background-color: white;
                color: #46B8C8;
                border: 1px solid #46B8C8;
                border-radius: 50px;
                font-weight: bold;


                &:hover{
                    background-color: #46B8C8;
                    color: white;
                    animation: opacityInc 0.5s forwards;
                }

                
            }
        }

        .work__codeKeeper{
            img{
                height: 41%;
            }
        }
    }

    .moto__container{
        width: 100%;
        max-width: 100%;
        height: 50vh;
        max-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;

        img{
            width: 4%;
            animation: shake 0.5s infinite; /* Apply the shaking animation with infinite loop */
        }

        @keyframes shake {
            0% { transform: rotate(0); }
            25% { transform: rotate(-5deg); }
            50% { transform: rotate(5deg); }
            75% { transform: rotate(-5deg); }
            100% { transform: rotate(0); }
        }

        p{
            color: orange;
            width: 60%;
            height: 100%;
            font-size: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bolder;
            text-align: center;
            line-height: 50px;
        }


    }
}

