$chatBoxColor : #46B8C8;

/*Fix the center of the heading along the chat box buttons so they are responsive and centered */

.solving__prob__container{
    width: 100%;
    max-width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    .chat__box{
        position: absolute;
        width: 17vw;
        height: 3.8rem;
        top: 25%;
        right: 16%;
        background-color: $chatBoxColor;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        div{
            width: 80%;
            height: 100%;

            p{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 13px;
                font-weight: normal;
            }
        }
    }
}

.text__VA__container{
    position: relative;
    width: 80%;
    max-width: 80%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;

    img{
        width: 5%;
    }

    
    div{
        position: absolute;
        right: 0;
        width: 20%;
        max-width: 20%;
        height: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        p{
            position: absolute;
            top: 25%;
        }
        img{
            width: 40%;
        }
    }
}

