$who_we_are_bg: #FBFAFA;
$grid_text_color: #3D4F5C;
$primary_orange: #FB8958;

.about__us__container{
    width: 100%;
    height: 100vh;
    background-color: $who_we_are_bg;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.text__holder__container{
    width: 80%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    gap: 5%;
    
    h4{
        font-size: 3em;
    }
    p{
        font-size: 1.2em;
        width: 80%;
        font-weight: 500;
        color: $primary_orange;
    }

    img{
        position: absolute;
        top: 15%;
        right: 5%;

    }
}

.what__we__do__grid{
    width: 80%;
    height: 40%;
    max-height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    

    div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5%;

        h6{
            font-size: 1.6rem;
            font-weight: 700;
            color: $primary_orange;
            height: 15%;
            width: 10%;
            border-bottom: 1px solid $grid_text_color;
        }

        h5{
            font-size: 1.8rem;
            max-width: 75%;
            height: 60%;
            max-height: 60%;
            color: $grid_text_color;
        }

    }

    > div:nth-child(3) {
        h5{
            width: 70%;
            max-width: 70%;
            
        }
    }
}

