.navbar__container{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 15vh;
    max-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inside__navbar{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar__text__items__btn{
    padding: 0;
    width: 50%;
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.li__items{
    margin-top: 2.5%;
    list-style: none;
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
    font-family: Circular Std;
    font-size: 15px;
}
