.footer__container{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

    div{
        width: 80%;
    
    }

    .feature{
        p{
            width: 220px;
            font-size: 0.9rem;
        }
        a{
            cursor: pointer;
        }
    }

    
}

