@import '~bootstrap/scss/bootstrap';


.App{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Circular Std Medium;
}
